:root {
  --gradient: linear-gradient(
    to right,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}

body {
  margin: 0;
  font-family:  'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: #85FFBD; */
  background-image: linear-gradient(89deg, #5eff8e 0%, #FFFB7D 100%); 
}

button{
  cursor: pointer;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
